@{
    ViewData["Title"] = "ASYNC";
}

<div class="row">
    <div class="jumbotron">
        <h3>DateTime Now Application</h3><br />
        <h3>@ViewData["DateTimeNow"] </h3>
        <h1>@ViewData["ThreadPoolInfo"]</h1>
    </div>
</div>
